<div class="row mt-3">

    <div class="col-lg-4">
        <img id="warcry_object_ghur" style="display: none;" src="assets/img/objects/object_bg.png">
        <img id="warcry_object_fire" style="display: none;" src="assets/img/objects/object_bg_fire.png">
        <img id="warcry_object_arcane" style="display: none;" src="assets/img/objects/object_bg_arcane.png">
        <img id="warcry_object_arcaneblue" style="display: none;" src="assets/img/objects/object_bg_arcaneblue.png">
        <img id="warcry_object_blackmarble" style="display: none;" src="assets/img/objects/object_bg_blackmarble.png">
        <img id="warcry_object_cursedcity" style="display: none;" src="assets/img/objects/object_bg_cursedcity.png">
        <img id="warcry_object_dark" style="display: none;" src="assets/img/objects/object_bg_dark.png">
        <img id="warcry_object_ghurplain" style="display: none;" src="assets/img/objects/object_bg_ghurplain.png">
        <img id="warcry_object_green" style="display: none;" src="assets/img/objects/object_bg_green.png">
        <img id="warcry_object_plain" style="display: none;" src="assets/img/objects/object_bg_plain.png">
        <img id="warcry_object_red" style="display: none;" src="assets/img/objects/object_bg_red.png">
        <img id="warcry_object_mordheim" style="display: none;" src="assets/img/objects/object_bg_mordheim.png">
        
        <img id="card-border" style="display: none;" src="assets/img/objects/object_border.png">
        <img id="object_bg" style="display: none;" src="assets/img/objects/object_bg.png">


        <img id="circle" style="display: none;" src="assets/img/circle.png">

        <canvas class="canvas rounded" id="canvas" width="822" height="1122">
            Sorry, your browser doesn't support the &lt;canvas&gt; element.
        </canvas>
    </div>

    <div class="col-lg-4 scroll-area-fade">
        <div class="scroll-area">
            <div class="accordion">

                {% include objects/section-title.html %}
                {% include objects/section-background.html %}
                {% include objects/section-image.html %}
                {% include objects/section-actions.html %}


            </div>

        </div>
    </div>

</div>