<div class="row mt-3">

    <div class="col-lg-3">
        <img id="warcry_object_ghur" style="display: none;" src="assets/img/objects/warcry_object_ghur.png">
        <img id="warcry_object_red" style="display: none;" src="assets/img/objects/warcry_object_red.png">
        <img id="warcry_object_green" style="display: none;" src="assets/img/objects/warcry_object_green.png">
        <img id="warcry_object_black" style="display: none;" src="assets/img/objects/warcry_object_black.png">
        <img id="warcry_object_fire" style="display: none;" src="assets/img/objects/warcry_object_fire.png">
        <img id="warcry_object_ice" style="display: none;" src="assets/img/objects/warcry_object_ice.png">
        <img id="warcry_object_xmas" style="display: none;" src="assets/img/objects/warcry_object_xmas.png">
        <img id="circle" style="display: none;" src="assets/img/circle.png">

        <canvas class="canvas rounded" id="canvas" width="352" height="514">
            Sorry, your browser doesn't support the &lt;canvas&gt; element.
        </canvas>
    </div>

    <div class="col-lg-4 scroll-area">
        <div class="scroll-area">
            <div class="accordion">

                {% include objects/section-title.html %}
                {% include objects/section-background.html %}
                {% include objects/section-image.html %}
                {% include objects/section-actions.html %}


            </div>

        </div>
    </div>

</div>