<div class="card">

    <div class="card-header" id="abilitiesHeadingFour">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#abilitiesCollapseFour"
                aria-expanded="false" aria-controls="abilitiesCollapseFour">
                Abilities
            </button>
        </h2>
    </div>

    <div class="collapse" id="abilitiesCollapseFour">
        <div class="card-body">
            <div class="accordion">

                <div class="card">
                    <div class="card-header" id="abilitiesHeadingFourOne">
                        <h2 class="h5">
                            <input checked id="ability1-toggle" oninput="onAnyChange()" type="checkbox">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#abilitiesCollapseFourOne"
                                aria-expanded="false" aria-controls="abilitiesCollapseFourOne">
                                First
                            </button>
                        </h2>
                    </div>
                    <div class="collapse" id="abilitiesCollapseFourOne">
                        <div class="card-body">
                            <div class="form-group">
                                {% comment %}
                                <label for="ability1-runemark">Runemark</label>
                                <select class="form-control" id="ability1-runemark" name="ability1-runemark">
                                    <option selected>Choose a runemark</option>
                                </select>
                                {% endcomment %}
                                <div id="tagRunemarkSelect_abilitiesCollapseFourOne" data-row="1"
                                    class="d-flex flex-wrap">
                                    {% include fighters/fighterRunemarkSelectOne.html %}
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <input checked class="form-check-input" id="ability1-reaction" name="ability1-dice"
                                    oninput="onAnyChange()" type="radio" value="reaction">
                                <label class="form-check-label" for="ability1-reaction">Reaction</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability1-double" name="ability1-dice"
                                    oninput="onAnyChange()" type="radio" value="double">
                                <label class="form-check-label" for="ability1-double">Double</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability1-triple" name="ability1-dice"
                                    oninput="onAnyChange()" type="radio" value="triple">
                                <label class="form-check-label" for="ability1-triple">Triple</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability1-quad" name="ability1-dice"
                                    oninput="onAnyChange()" type="radio" value="quad">
                                <label class="form-check-label" for="ability1-quad">Quad</label>
                            </div>
                            <div class="form-group">
                                <label for="ability1-name">Name</label>
                                <input class="form-control" id="ability1-name" oninput="onAnyChange()" type="text"
                                    value="Ability One">
                            </div>
                            <div class="form-group mt-2">
                                <label for="ability1-text">Text</label>
                                <textarea class="form-control" id="ability1-text" oninput="onAnyChange()"
                                    rows="5"></textarea>
                            </div>
                            <div class="input-group mb-6 mt-2">

                                <select id="sel1">
                            
                                </select>
                            <br><br>
                                <button type="submit" class="btn btn-success" id="loadAbilityFromList1" onclick="loadAbilityFromList(1)">
                                    Load Ability from List
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="abilitiesHeadingFourTwo">
                        <h2 class="h5">
                            <input checked id="ability2-toggle" oninput="onAnyChange()" type="checkbox">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#abilitiesCollapseFourTwo"
                                aria-expanded="false" aria-controls="abilitiesCollapseFourTwo">
                                Second
                            </button>
                        </h2>
                    </div>
                    <div class="collapse" id="abilitiesCollapseFourTwo">
                        <div class="card-body">
                            <div class="form-group">
                                {% comment %}
                                <label for="ability2-runemark">Runemark</label>
                                <select class="form-control" id="ability2-runemark" name="ability2-runemark">
                                    <option selected>Choose a runemark</option>
                                </select>
                                {% endcomment %}
                                <div id="tagRunemarkSelect_abilitiesCollapseFourTwo" data-row="2"
                                    class="d-flex flex-wrap">
                                    {% include fighters/fighterRunemarkSelectTwo.html %}
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability2-reaction" name="ability2-dice"
                                    oninput="onAnyChange()" type="radio" value="reaction">
                                <label class="form-check-label" for="ability2-reaction">Reaction</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input checked class="form-check-input" id="ability2-double" name="ability2-dice"
                                    oninput="onAnyChange()" type="radio" value="double">
                                <label class="form-check-label" for="ability2-double">Double</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability2-triple" name="ability2-dice"
                                    oninput="onAnyChange()" type="radio" value="triple">
                                <label class="form-check-label" for="ability2-triple">Triple</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability2-quad" name="ability2-dice"
                                    oninput="onAnyChange()" type="radio" value="quad">
                                <label class="form-check-label" for="ability2-quad">Quad</label>
                            </div>
                            <div class="form-group">
                                <label for="ability2-name">Name</label>
                                <input class="form-control" id="ability2-name" oninput="onAnyChange()" type="text"
                                    value="Ability Two">
                            </div>
                            <div class="form-group mt-2">
                                <label for="ability2-text">Text</label>
                                <textarea class="form-control" id="ability2-text" oninput="onAnyChange()"
                                    rows="5"></textarea>
                            </div>
                            <div class="input-group mb-6 mt-2">
                                <select id="sel2">
                            
                                </select>
                            <br><br>
                                <button type="submit" class="btn btn-success" id="loadAbilityFromList1" onclick="loadAbilityFromList(2)">
                                    Load Ability from List
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="abilitiesHeadingFourThree">
                        <h2 class="h5">
                            <input checked id="ability3-toggle" oninput="onAnyChange()" type="checkbox">
                            <button class="btn btn-link" data-toggle="collapse"
                                data-target="#abilitiesCollapseFourThree" aria-expanded="false"
                                aria-controls="abilitiesCollapseFourThree">
                                Third
                            </button>
                        </h2>
                    </div>
                    <div class="collapse" id="abilitiesCollapseFourThree">
                        <div class="card-body">
                            <div class="form-group">
                                {% comment %}
                                <label for="ability3-runemark">Runemark</label>
                                <select class="form-control" id="ability3-runemark" name="ability3-runemark">
                                    <option selected>Choose a runemark</option>
                                </select>
                                {% endcomment %}
                                <div id="tagRunemarkSelect_abilitiesCollapseFourThree" data-row="3"
                                    class="d-flex flex-wrap">
                                    {% include fighters/fighterRunemarkSelectThree.html %}
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability3-reaction" name="ability3-dice"
                                    oninput="onAnyChange()" type="radio" value="reaction">
                                <label class="form-check-label" for="ability3-reaction">Reaction</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input checked class="form-check-input" id="ability3-double" name="ability3-dice"
                                    oninput="onAnyChange()" type="radio" value="double">
                                <label class="form-check-label" for="ability3-double">Double</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability3-triple" name="ability3-dice"
                                    oninput="onAnyChange()" type="radio" value="triple">
                                <label class="form-check-label" for="ability3-triple">Triple</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability3-quad" name="ability3-dice"
                                    oninput="onAnyChange()" type="radio" value="quad">
                                <label class="form-check-label" for="ability3-quad">Quad</label>
                            </div>
                            <div class="form-group">
                                <label for="ability3-name">Name</label>
                                <input class="form-control" id="ability3-name" oninput="onAnyChange()" type="text"
                                    value="Ability Three">
                            </div>
                            <div class="form-group mt-2">
                                <label for="ability3-text">Text</label>
                                <textarea class="form-control" id="ability3-text" oninput="onAnyChange()"
                                    rows="5"></textarea>
                            </div>
                            <div class="input-group mb-6 mt-2">

                                <select id="sel3">
                            
                                </select>
                            <br><br>
                                <button type="submit" class="btn btn-success" id="loadAbilityFromList1" onclick="loadAbilityFromList(3)">
                                    Load Ability from List
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="abilitiesHeadingFourFour">
                        <h2 class="h5">
                            <input checked id="ability4-toggle" oninput="onAnyChange()" type="checkbox">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#abilitiesCollapseFourFour"
                                aria-expanded="false" aria-controls="abilitiesCollapseFourFour">
                                Fourth
                            </button>
                        </h2>
                    </div>
                    <div class="collapse" id="abilitiesCollapseFourFour">
                        <div class="card-body">
                            <div class="form-group">
                                {% comment %}
                                <label for="ability4-runemark">Runemark</label>
                                <select class="form-control" id="ability4-runemark" name="ability4-runemark">
                                    <option selected>Choose a runemark</option>
                                </select>
                                {% endcomment %}
                                <div id="tagRunemarkSelect_abilitiesCollapseFourFour" data-row="4"
                                    class="d-flex flex-wrap">
                                    {% include fighters/fighterRunemarkSelectFour.html %}
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability4-reaction" name="ability4-dice"
                                    oninput="onAnyChange()" type="radio" value="reaction">
                                <label class="form-check-label" for="ability4-reaction">Reaction</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability4-double" name="ability4-dice"
                                    oninput="onAnyChange()" type="radio" value="double">
                                <label class="form-check-label" for="ability4-double">Double</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input checked class="form-check-input" id="ability4-triple" name="ability4-dice"
                                    oninput="onAnyChange()" type="radio" value="triple">
                                <label class="form-check-label" for="ability4-triple">Triple</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability4-quad" name="ability4-dice"
                                    oninput="onAnyChange()" type="radio" value="quad">
                                <label class="form-check-label" for="ability4-quad">Quad</label>
                            </div>
                            <div class="form-group">
                                <label for="ability4-name">Name</label>
                                <input class="form-control" id="ability4-name" oninput="onAnyChange()" type="text"
                                    value="Ability Four">
                            </div>
                            <div class="form-group mt-2">
                                <label for="ability4-text">Text</label>
                                <textarea class="form-control" id="ability4-text" oninput="onAnyChange()"
                                    rows="5"></textarea>
                            </div>
                            <div class="input-group mb-6 mt-2">

                                <select id="sel4">
                            
                                </select>
                            <br><br>
                                <button type="submit" class="btn btn-success" id="loadAbilityFromList1" onclick="loadAbilityFromList(4)">
                                    Load Ability from List
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="abilitiesHeadingFourFive">
                        <h2 class="h5">
                            <input checked id="ability5-toggle" oninput="onAnyChange()" type="checkbox">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#abilitiesCollapseFourFive"
                                aria-expanded="false" aria-controls="abilitiesCollapseFourFive">
                                Fifth
                            </button>
                        </h2>
                    </div>
                    <div class="collapse" id="abilitiesCollapseFourFive">
                        <div class="card-body">
                            <div class="form-group">
                                {% comment %}
                                <label for="ability5-runemark">Runemark</label>
                                <select class="form-control" id="ability5-runemark" name="ability5-runemark">
                                    <option selected>Choose a runemark</option>
                                </select>
                                {% endcomment %}
                                <div id="tagRunemarkSelect_abilitiesCollapseFourFive" data-row="5"
                                    class="d-flex flex-wrap">
                                    {% include fighters/fighterRunemarkSelectFive.html %}
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability5-reaction" name="ability5-dice"
                                    oninput="onAnyChange()" type="radio" value="reaction">
                                <label class="form-check-label" for="ability5-reaction">Reaction</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability5-double" name="ability5-dice"
                                    oninput="onAnyChange()" type="radio" value="double">
                                <label class="form-check-label" for="ability5-double">Double</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input checked class="form-check-input" id="ability5-triple" name="ability5-dice"
                                    oninput="onAnyChange()" type="radio" value="triple">
                                <label class="form-check-label" for="ability5-triple">Triple</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability5-quad" name="ability5-dice"
                                    oninput="onAnyChange()" type="radio" value="quad">
                                <label class="form-check-label" for="ability5-quad">Quad</label>
                            </div>
                            <div class="form-group">
                                <label for="ability5-name">Name</label>
                                <input class="form-control" id="ability5-name" oninput="onAnyChange()" type="text"
                                    value="Ability Five">
                            </div>
                            <div class="form-group mt-2">
                                <label for="ability5-text">Text</label>
                                <textarea class="form-control" id="ability5-text" oninput="onAnyChange()"
                                    rows="5"></textarea>
                            </div>
                            <div class="input-group mb-6 mt-2">

                                <select id="sel5">
                            
                                </select>
                            <br><br>
                                <button type="submit" class="btn btn-success" id="loadAbilityFromList1" onclick="loadAbilityFromList(5)">
                                    Load Ability from List
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="abilitiesHeadingFourSix">
                        <h2 class="h5">
                            <input checked id="ability6-toggle" oninput="onAnyChange()" type="checkbox">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#abilitiesCollapseFourSix"
                                aria-expanded="false" aria-controls="abilitiesCollapseFourSix">
                                Sixth
                            </button>
                        </h2>
                    </div>
                    <div class="collapse" id="abilitiesCollapseFourSix">
                        <div class="card-body">
                            <div class="form-group">
                                {% comment %}
                                <label for="ability6-runemark">Runemark</label>
                                <select class="form-control" id="ability6-runemark" name="ability6-runemark">
                                    <option selected>Choose a runemark</option>
                                </select>
                                {% endcomment %}
                                <div id="tagRunemarkSelect_abilitiesCollapseFourSix" data-row="6"
                                    class="d-flex flex-wrap">
                                    {% include fighters/fighterRunemarkSelectSix.html %}
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability6-reaction" name="ability6-dice"
                                    oninput="onAnyChange()" type="radio" value="reaction">
                                <label class="form-check-label" for="ability6-reaction">Reaction</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability6-double" name="ability6-dice"
                                    oninput="onAnyChange()" type="radio" value="double">
                                <label class="form-check-label" for="ability6-double">Double</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability6-triple" name="ability6-dice"
                                    oninput="onAnyChange()" type="radio" value="triple">
                                <label class="form-check-label" for="ability6-triple">Triple</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input checked class="form-check-input" id="ability6-quad" name="ability6-dice"
                                    oninput="onAnyChange()" type="radio" value="quad">
                                <label class="form-check-label" for="ability6-quad">Quad</label>
                            </div>
                            <div class="form-group">
                                <label for="ability6-name">Name</label>
                                <input class="form-control" id="ability6-name" oninput="onAnyChange()" type="text"
                                    value="Ability Six">
                            </div>
                            <div class="form-group mt-2">
                                <label for="ability6-text">Text</label>
                                <textarea class="form-control" id="ability6-text" oninput="onAnyChange()"
                                    rows="5"></textarea>
                            </div>
                            <div class="input-group mb-6 mt-2">

                                <select id="sel6">
                            
                                </select>
                            <br><br>
                                <button type="submit" class="btn btn-success" id="loadAbilityFromList1" onclick="loadAbilityFromList(6)">
                                    Load Ability from List
                                </button>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="card">
                    <div class="card-header" id="abilitiesHeadingFourSeven">
                        <h2 class="h5">
                            <input id="ability7-toggle" oninput="onAnyChange()" type="checkbox">
                            <button class="btn btn-link" data-toggle="collapse"
                                data-target="#abilitiesCollapseFourSeven" aria-expanded="false"
                                aria-controls="abilitiesCollapseFourSix">
                                Seventh
                            </button>
                        </h2>
                    </div>
                    <div class="collapse" id="abilitiesCollapseFourSeven">
                        <div class="card-body">
                            * use a no line background *<br><br>
                            <div class="form-group">
                                {% comment %}
                                <label for="ability7-runemark">Runemark</label>
                                <select class="form-control" id="ability7-runemark" name="ability7-runemark">
                                    <option selected>Choose a runemark</option>
                                </select>
                                {% endcomment %}
                                <div id="tagRunemarkSelect_abilitiesCollapseFourSeven" data-row="7"
                                    class="d-flex flex-wrap">
                                    {% include fighters/fighterRunemarkSelectSeven.html %}
                                </div>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability7-reaction" name="ability7-dice"
                                    oninput="onAnyChange()" type="radio" value="reaction">
                                <label class="form-check-label" for="ability7-reaction">Reaction</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability7-double" name="ability7-dice"
                                    oninput="onAnyChange()" type="radio" value="double">
                                <label class="form-check-label" for="ability7-double">Double</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="ability7-triple" name="ability7-dice"
                                    oninput="onAnyChange()" type="radio" value="triple">
                                <label class="form-check-label" for="ability7-triple">Triple</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input checked class="form-check-input" id="ability7-quad" name="ability7-dice"
                                    oninput="onAnyChange()" type="radio" value="quad">
                                <label class="form-check-label" for="ability7-quad">Quad</label>
                            </div>
                            <div class="form-group">
                                <label for="ability7-name">Name</label>
                                <input class="form-control" id="ability7-name" oninput="onAnyChange()" type="text"
                                    value="Ability Seven">
                            </div>
                            <div class="form-group mt-2">
                                <label for="ability7-text">Text</label>
                                <textarea class="form-control" id="ability7-text" oninput="onAnyChange()"
                                    rows="5"></textarea>
                            </div>
                            <div class="input-group mb-6 mt-2">

                                <select id="sel7">
                            
                                </select>
                            <br><br>
                                <button type="submit" class="btn btn-success" id="loadAbilityFromList1" onclick="loadAbilityFromList(7)">
                                    Load Ability from List
                                </button>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
        </div>
    </div>

</div>