<div class="card">

    <div class="card-header" id="abilitiesHeadingOne">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#abilitiesCollapseOne"
                aria-expanded="false" aria-controls="abilitiesCollapseOne">
                Background
            </button>
        </h2>
    </div>

    <div class="collapse" id="abilitiesCollapseOne">
        <div class="card-body">

            <div class="form-check form-check-inline">
                <input class="form-check-input" id="bg-01" name="toggle-backgrounds" oninput="onAnyChange()"
                    type="radio">
                <label class="form-check-label" for="bg-01">Dark 1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="bg-02" name="toggle-backgrounds" oninput="onAnyChange()"
                    type="radio">
                <label class="form-check-label" for="select-bg-fire-102">Dark 2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="bg-03" name="toggle-backgrounds" oninput="onAnyChange()"
                    type="radio">
                <label class="form-check-label" for="bg-03">Fire 1</label>
            </div>
            <div class="form-check form-check-inline">
                <input checked class="form-check-input" id="bg-04" name="toggle-backgrounds" oninput="onAnyChange()"
                    type="radio">
                <label class="form-check-label" for="bg-04">Ghur</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="bg-05" name="toggle-backgrounds" oninput="onAnyChange()"
                    type="radio">
                <label class="form-check-label" for="bg-05">Dark 1 No Lines</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="bg-06" name="toggle-backgrounds" oninput="onAnyChange()"
                    type="radio">
                <label class="form-check-label" for="bg-06">Dark 2 No Lines</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="bg-07" name="toggle-backgrounds" oninput="onAnyChange()"
                    type="radio">
                <label class="form-check-label" for="bg-07">Fire 1 No Lines</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="bg-08" name="toggle-backgrounds" oninput="onAnyChange()"
                    type="radio">
                <label class="form-check-label" for="bg-08">Ghur No Lines</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="bg-09" name="toggle-backgrounds" oninput="onAnyChange()"
                    type="radio">
                <label class="form-check-label" for="bg-09">Mordheim</label>
            </div>


            

            {% comment %}
            <div class="form-group mt-4">
                <label for="abilities-upload-bg">Load custom background</label>
                <input disabled aria-describedby="fileHelp" class="form-control-file" id="abilities-upload-bg"
                    oninput="onAnyChange()" type="file">
                <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the
                    above input. It's a bit lighter and easily wraps to a new line.</small>
            </div>
            {% endcomment %}

        </div>
    </div>

</div>