<div>
    <label for="faction-runemarks/white/grand-alliance-destruction.svg">
        <img src="runemarks/white/grand-alliance-destruction.svg" alt="Grand Alliance Destruction runemark" data-toggle="tooltip" title="Grand Alliance Destruction" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/grand-alliance-destruction.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-destruction-bonesplitterz.svg">
        <img src="runemarks/white/factions-destruction-bonesplitterz.svg" alt="Bonesplitterz faction runemark" data-toggle="tooltip" title="Bonesplitterz" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-destruction-bonesplitterz.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-destruction-gloomspite-gitz.svg">
        <img src="runemarks/white/factions-destruction-gloomspite-gitz.svg" alt="Gloomspite Gitz faction runemark" data-toggle="tooltip" title="Gloomspite Gitz" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-destruction-gloomspite-gitz.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-destruction-gorgor-mawpack.svg">
        <img src="runemarks/white/factions-destruction-gorgor-mawpack.svg" alt="Gorgor Mawpack faction runemark" data-toggle="tooltip" title="Gorgor Mawpack" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-destruction-gorgor-mawpack.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>


<div>
    <label for="faction-runemarks/white/factions-destruction-ironjawz.svg">
        <img src="runemarks/white/factions-destruction-ironjawz.svg" alt="Ironjawz faction runemark" data-toggle="tooltip" title="Ironjawz" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-destruction-ironjawz.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-destruction-kruleboyz.svg">
        <img src="runemarks/white/factions-destruction-kruleboyz.svg" alt="Kruleboyz faction runemark" data-toggle="tooltip" title="Kruleboyz" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-destruction-kruleboyz.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-destruction-monsta-killaz.svg">
        <img src="runemarks/white/factions-destruction-monsta-killaz.svg" alt="Monsta Killaz faction runemark" data-toggle="tooltip" title="Monsta Killaz" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-destruction-monsta-killaz.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>


<div>
    <label for="faction-runemarks/white/factions-destruction-ogor-mawtribes.svg">
        <img src="runemarks/white/factions-destruction-ogor-mawtribes.svg" alt="Ogor Mawtribes faction runemark" data-toggle="tooltip" title="Ogor Mawtribes" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-destruction-ogor-mawtribes.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="faction-runemarks/white/factions-destruction-daggoks-stab-ladz.svg">
        <img src="runemarks/white/factions-destruction-daggoks-stab-ladz.svg" alt="Daggoks stab ladz faction runemark" data-toggle="tooltip" title="Daggoks stab ladz" width="50" height="50" />
    </label>
    <input type="radio" id="faction-runemarks/white/factions-destruction-daggoks-stab-ladz.svg" name="faction" onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>
