<div>
    <label for="checkbox-runemarks/deployment-shield.svg">
        <img src="runemarks/white/deployment-shield.svg" alt="Deployment Shield" data-toggle="tooltip"
            title="Deployment Shield" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/deployment-dagger.svg" name="deployment"
        onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/deployment-dagger.svg">
        <img src="runemarks/white/deployment-dagger.svg" alt="Deployment Dagger" data-toggle="tooltip"
            title="Deployment Dagger" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/deployment-dagger.svg" name="deployment"
        onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>

<div>
    <label for="checkbox-runemarks/deployment-hammer.svg">
        <img src="runemarks/white/deployment-hammer.svg" alt="Deployment Hammer" data-toggle="tooltip"
            title="Deployment Hammer" width="50" height="50" />
    </label>
    <input type="radio" id="checkbox-runemarks/deployment-hammer.svg" name="deployment"
        onchange="onRunemarkSelectionChanged(this, 'black')" style="display:none;">
</div>