<div>
    <label for="sevenOne">
        <img src="runemarks/black/fighters-agile.svg" alt="Agile" data-toggle="tooltip" title="Agile" width="50"
            height="50" />
    </label>
    <input type="checkbox" id="sevenOne" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sevenTwo">
        <img src="runemarks/black/fighters-ally.svg" alt="Ally" data-toggle="tooltip" title="Ally" width="50"
            height="50" />
    </label>
    <input type="checkbox" id="sevenTwo" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sevenThree">
        <img src="runemarks/black/fighters-beast.svg" alt="Beast" data-toggle="tooltip" title="Beast" width="50"
            height="50" />
    </label>
    <input type="checkbox" id="sevenThree" onchange="onTagRunemarkSelectionChanged(this, 'white')"
        style="display:none;">
</div>

<div>
    <label for="sevenFour">
        <img src="runemarks/black/fighters-berserker.svg" alt="Berserker" data-toggle="tooltip" title="Berserker"
            width="50" height="50" />
    </label>
    <input type="checkbox" id="sevenFour" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sevenFive">
        <img src="runemarks/black/fighters-brute.svg" alt="Brute" data-toggle="tooltip" title="Brute" width="50"
            height="50" />
    </label>
    <input type="checkbox" id="sevenFive" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sevenSix">
        <img src="runemarks/black/fighters-bulwark.svg" alt="Bulwark" data-toggle="tooltip" title="Bulwark" width="50"
            height="50" />
    </label>
    <input type="checkbox" id="sevenSix" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sevenSeven">
        <img src="runemarks/black/fighters-champion.svg" alt="Champion" data-toggle="tooltip" title="Champion"
            width="50" height="50" />
    </label>
    <input type="checkbox" id="sevenSeven" onchange="onTagRunemarkSelectionChanged(this, 'white')"
        style="display:none;">
</div>

<div>
    <label for="sevenEight">
        <img src="runemarks/black/fighters-destroyer.svg" alt="Destroyer" data-toggle="tooltip" title="Destroyer"
            width="50" height="50" />
    </label>
    <input type="checkbox" id="sevenEight" onchange="onTagRunemarkSelectionChanged(this, 'white')"
        style="display:none;">
</div>

<div>
    <label for="sevenNine">
        <img src="runemarks/black/fighters-elite.svg" alt="Elite" data-toggle="tooltip" title="Elite" width="50"
            height="50" />
    </label>
    <input type="checkbox" id="sevenNine" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sevenTen">
        <img src="runemarks/black/fighters-ferocious.svg" alt="Ferocious" data-toggle="tooltip" title="Ferocious"
            width="50" height="50" />
    </label>
    <input type="checkbox" id="sevenTen" onchange="onTagRunemarkSelectionChanged(this, 'white')" style="display:none;">
</div>

<div>
    <label for="sevenEleven">
        <img src="runemarks/black/fighters-fly.svg" alt="Fly" data-toggle="tooltip" title="Fly" width="50"
            height="50" />
    </label>
    <input type="checkbox" id="sevenEleven" onchange="onTagRunemarkSelectionChanged(this, 'white')"
        style="display:none;">
</div>

<div>
    <label for="sevenTwelve">
        <img src="runemarks/black/fighters-frenzied.svg" alt="Frenzied" data-toggle="tooltip" title="Frenzied"
            width="50" height="50" />
    </label>
    <input type="checkbox" id="sevenTwelve" onchange="onTagRunemarkSelectionChanged(this, 'white')"
        style="display:none;">
</div>

<div>
    <label for="sevenThirteen">
        <img src="runemarks/black/fighters-gargantuan.svg" alt="Gargantuan" data-toggle="tooltip" title="Gargantuan"
            width="50" height="50" />
    </label>
    <input type="checkbox" id="sevenThirteen" onchange="onTagRunemarkSelectionChanged(this, 'white')"
        style="display:none;">
</div>

<div>
    <label for="sevenFifteen">
        <img src="runemarks/black/fighters-leader.svg" alt="Leader" data-toggle="tooltip" title="Hero" width="50"
            height="50" />
    </label>
    <input type="checkbox" id="sevenFifteen" onchange="onTagRunemarkSelectionChanged(this, 'white')"
        style="display:none;">
</div>

<div>
    <label for="sevenFourteen">
        <img src="runemarks/black/fighters-icon-bearer.svg" alt="Icon Bearer" data-toggle="tooltip" title="Icon Bearer"
            width="50" height="50" />
    </label>
    <input type="checkbox" id="sevenFourteen" onchange="onTagRunemarkSelectionChanged(this, 'white')"
        style="display:none;">
</div>

<div>
    <label for="sevenSixteen">
        <img src="runemarks/black/fighters-minion.svg" alt="Minion" data-toggle="tooltip" title="Minion" width="50"
            height="50" />
    </label>
    <input type="checkbox" id="sevenSixteen" onchange="onTagRunemarkSelectionChanged(this, 'white')"
        style="display:none;">
</div>

<div>
    <label for="sevenSeventeen">
        <img src="runemarks/black/fighters-mount.svg" alt="Mount" data-toggle="tooltip" title="Mount" width="50"
            height="50" />
    </label>
    <input type="checkbox" id="sevenSeventeen" onchange="onTagRunemarkSelectionChanged(this, 'white')"
        style="display:none;">
</div>

<div>
    <label for="sevenEighteen">
        <img src="runemarks/black/fighters-mystic.svg" alt="Mystic" data-toggle="tooltip" title="Mystic" width="50"
            height="50" />
    </label>
    <input type="checkbox" id="sevenEighteen" onchange="onTagRunemarkSelectionChanged(this, 'white')"
        style="display:none;">
</div>

<div>
    <label for="sevenNineteen">
        <img src="runemarks/black/fighters-priest.svg" alt="Priest" data-toggle="tooltip" title="Priest" width="50"
            height="50" />
    </label>
    <input type="checkbox" id="sevenNineteen" onchange="onTagRunemarkSelectionChanged(this, 'white')"
        style="display:none;">
</div>

<div>
    <label for="sevenTwenty">
        <img src="runemarks/black/fighters-scout.svg" alt="Scout" data-toggle="tooltip" title="Scout" width="50"
            height="50" />
    </label>
    <input type="checkbox" id="sevenTwenty" onchange="onTagRunemarkSelectionChanged(this, 'white')"
        style="display:none;">
</div>

<div>
    <label for="sevenTwentyone">
        <img src="runemarks/black/fighters-sentience.svg" alt="Sentience" data-toggle="tooltip" title="Sentience"
            width="50" height="50" />
    </label>
    <input type="checkbox" id="sevenTwentyone" onchange="onTagRunemarkSelectionChanged(this, 'white')"
        style="display:none;">
</div>

<div>
    <label for="sevenTwentytwo">
        <img src="runemarks/black/fighters-terrifying.svg" alt="Terrifying" data-toggle="tooltip" title="Terrifying"
            width="50" height="50" />
    </label>
    <input type="checkbox" id="sevenTwentytwo" onchange="onTagRunemarkSelectionChanged(this, 'white')"
        style="display:none;">
</div>

<div>
    <label for="sevenTwentythree">
        <img src="runemarks/black/fighters-thrall.svg" alt="Thrall" data-toggle="tooltip" title="Thrall" width="50"
            height="50" />
    </label>
    <input type="checkbox" id="sevenTwentythree" onchange="onTagRunemarkSelectionChanged(this, 'white')"
        style="display:none;">
</div>

<div>
    <label for="sevenTwentyfour">
        <img src="runemarks/black/fighters-trapper.svg" alt="Trapper" data-toggle="tooltip" title="Trapper" width="50"
            height="50" />
    </label>
    <input type="checkbox" id="sevenTwentyfour" onchange="onTagRunemarkSelectionChanged(this, 'white')"
        style="display:none;">
</div>

<div>
    <label for="sevenTwentyfive">
        <img src="runemarks/black/fighters-warrior.svg" alt="Warrior" data-toggle="tooltip" title="Warrior" width="50"
            height="50" />
    </label>
    <input type="checkbox" id="sevenTwentyfive" onchange="onTagRunemarkSelectionChanged(this, 'white')"
        style="display:none;">
</div>