<div class="card">

    <div class="card-header" id="fightersHeadingOne">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#fightersCollapseOne" aria-expanded="false"
                aria-controls="fightersCollapseOne">
                Background
            </button>
        </h2>
    </div>

    <div class="collapse" id="fightersCollapseOne">
        <div class="card-body">

            <div class="row">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="bg-01" name="toggle-backgrounds" oninput="onAnyChange()"
                        type="radio">
                    <label class="form-check-label" for="bg-01">Dark 1 A</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="bg-02" name="toggle-backgrounds" oninput="onAnyChange()"
                        type="radio">
                    <label class="form-check-label" for="bg-02">Dark 1 B</label>
                </div>
            </div>
            <div class="row">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="bg-03" name="toggle-backgrounds" oninput="onAnyChange()"
                        type="radio">
                    <label class="form-check-label" for="bg-03">Dark 2 A</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="bg-04" name="toggle-backgrounds" oninput="onAnyChange()"
                        type="radio">
                    <label class="form-check-label" for="bg-04">Dark 2 B</label>
                </div>
            </div>
            <div class="row">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="bg-05" name="toggle-backgrounds" oninput="onAnyChange()"
                        type="radio">
                    <label class="form-check-label" for="bg-05">Fire 1 A</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="bg-06" name="toggle-backgrounds" oninput="onAnyChange()"
                        type="radio">
                    <label class="form-check-label" for="bg-06">Fire 1 B</label>
                </div>
            </div>
            <div class="row">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="bg-07" name="toggle-backgrounds" oninput="onAnyChange()"
                        type="radio">
                    <label class="form-check-label" for="bg-07">Ghur 1 A</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="bg-08" name="toggle-backgrounds" oninput="onAnyChange()"
                        type="radio">
                    <label class="form-check-label" for="bg-08">Ghur 1 B</label>
                </div>
            </div>
            <div class="row">
                <div class="form-check form-check-inline">
                    <input checked class="form-check-input" id="bg-09" name="toggle-backgrounds" oninput="onAnyChange()"
                        type="radio">
                    <label class="form-check-label" for="bg-09">Ghur 2 A</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="bg-10" name="toggle-backgrounds" oninput="onAnyChange()"
                        type="radio">
                    <label class="form-check-label" for="bg-10">Ghur 2 B</label>
                </div>
            </div>
            <div class="row">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="bg-11" name="toggle-backgrounds" oninput="onAnyChange()"
                        type="radio">
                    <label class="form-check-label" for="bg-11">Ghur 3 A</label>
                </div>
            </div>
            <div class="row">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="bg-12" name="toggle-backgrounds" oninput="onAnyChange()"
                        type="radio">
                    <label class="form-check-label" for="bg-12">Christmas A</label>
                </div>
            </div>

            {% comment %}
            <div class="form-group mt-4">
                <label for="backgroundSelect">Load custom background</label>
                <input disabled aria-describedby="fileHelp" class="form-control-file" id="backgroundSelect"
                    oninput="onAnyChange()" type="file">
                <!-- <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small> -->
            </div>
            {% endcomment %}

        </div>
    </div>

</div>