<div class="card">

    <div class="card-header" id="abilitiesHeadingOne">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#abilitiesCollapseOne"
                aria-expanded="false" aria-controls="abilitiesCollapseOne">
                Background
            </button>
        </h2>
    </div>

    <div class="collapse" id="abilitiesCollapseOne">
        <div class="card-body">

            <div class="form-check form-check-inline">
                <input checked class="form-check-input" id="bg_ghur" name="toggle-backgrounds" oninput="onAnyChange()"
                    type="radio">
                <label class="form-check-label" for="bg_ghur">Ghur</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="bg_red" name="toggle-backgrounds" oninput="onAnyChange()"
                    type="radio">
                <label class="form-check-label" for="bg_red">Red</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="bg_green" name="toggle-backgrounds" oninput="onAnyChange()"
                    type="radio">
                <label class="form-check-label" for="bg_green">Green</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="bg_black" name="toggle-backgrounds" oninput="onAnyChange()"
                    type="radio">
                <label class="form-check-label" for="bg_black">Black</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="bg_fire" name="toggle-backgrounds" oninput="onAnyChange()"
                    type="radio">
                <label class="form-check-label" for="bg_fire">Fire</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="bg_ice" name="toggle-backgrounds" oninput="onAnyChange()"
                    type="radio">
                <label class="form-check-label" for="bg_ice">Ice</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="bg_xmas" name="toggle-backgrounds" oninput="onAnyChange()"
                    type="radio">
                <label class="form-check-label" for="bg_xmas">Xmas</label>
            </div>


            {% comment %}
            <div class="form-group mt-4">
                <label for="abilities-upload-bg">Load custom background</label>
                <input disabled aria-describedby="fileHelp" class="form-control-file" id="abilities-upload-bg"
                    oninput="onAnyChange()" type="file">
                <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the
                    above input. It's a bit lighter and easily wraps to a new line.</small>
            </div>
            {% endcomment %}

        </div>
    </div>

</div>