<div class="card">

    <div class="card-header" id="abilitiesHeadingOne">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#abilitiesCollapseOne"
                aria-expanded="false" aria-controls="abilitiesCollapseOne">
                Background
            </button>
        </h2>
    </div>

    <div class="collapse" id="abilitiesCollapseOne">
        <div class="card-body">
     
            <div class="row">
                <div class="col-6">
                    <select class="form-select" id="background-list" name="background-list" onchange="onAnyChange()">
                        <optgroup label="Ghur">
                          <option value="bg_ghur">Ghur Default</option>
                          <option value="bg_ghurplain">Ghur Plain</option>
                        </optgroup>
                        <optgroup label="Fire">
                          <option value="bg_fire">Fire</option>
                          <option value="bg_dark">Dark Fire</option>
                        </optgroup>
                        <optgroup label="Arcane">
                            <option value="bg_arcane">Arcane</option>
                            <option value="bg_arcaneblue">Arcane Blue</option>
                            <option value="bg_green">Arcane Green</option>
                            <option value="bg_red">Arcane Red</option>
                          </optgroup>
                          <optgroup label="Others">
                            <option value="bg_plain">Plain</option>
                            <option value="bg_cursedcity">Cursed City</option>
                            <option value="bg_mordheim">Mordheim</option>

                        </optgroup>
                      </select>

                      
                </div>
              </div>
              


            {% comment %}
            <div class="form-group mt-4">
                <label for="abilities-upload-bg">Load custom background</label>
                <input disabled aria-describedby="fileHelp" class="form-control-file" id="abilities-upload-bg"
                    oninput="onAnyChange()" type="file">
                <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the
                    above input. It's a bit lighter and easily wraps to a new line.</small>
            </div>
            {% endcomment %}

        </div>
    </div>

</div>