<div class="card">

    <div class="card-header" id="abilitiesHeadingZero">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#abilitiesCollapseZero"
                aria-expanded="false" aria-controls="abilitiesCollapseZero">
                Object Name and Text
            </button>
        </h2>
    </div>

    <div class="collapse" id="abilitiesCollapseZero">
        <div class="card-body">

            <div class="form-group">
                <label for="object-name">Object Name</label>
                <input class="form-control" type="text" id="object-name" name="object-name" value="Healing Potion"
                    oninput="onAnyChange()">
            </div>
            <div class="form-group">
                <label for="object-title">Title</label>
                <input class="form-control" type="text" id="object-title" name="object-title" value="Lesser Artefact"
                    oninput="onAnyChange()">
            </div>

            <div class="form-group">
                <label for="object-italic-text">Italic Text - Use returns to align and break</label>
                <textarea class="form-control" id="object-italic-text" name="object-italic-text" rows="3"
                    oninput="onAnyChange()">Flavour text in italics.</textarea>
            </div>
            <div class="form-group">
                <label for="object-text">Text - Use returns to align and break</label>
                <textarea class="form-control" id="object-text" name="object-text" rows="3"
                    oninput="onAnyChange()">[Consumable] Discard this card after use. Bonus Action: Heal 1d6 damage from this fighter.</textarea>
            </div>

        </div>
    </div>

</div>