

    <!-- objective Section -->
    <div class="card-header" id="objectiveHeading">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#objectiveCollapse"
                aria-expanded="false" aria-controls="objectiveCollapse">
                Objectives / Treasure
            </button>
        </h2>
    </div>
    <div class="collapse" id="objectiveCollapse">
        <div class="card-body">
            <div class="form-group row">
                <div class="col-sm-3">
                  <label for="objective1Joystick">Objective 1</label>
                  <input type="radio" name="joystick" id="objective1Joystick" onkeydown="onJoystickKeyPress(this)">
                </div>
                <div class="col-sm-3">
                    <label for="objective1X">X</label>
                    <input class="form-control" type="number" id="objective1X" name="objective1X" value="0"
                        min="0" max="30" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="objective1Y">Y</label>
                    <input class="form-control" type="number" id="objective1Y" name="objective1Y" value="0"
                        min="0" max="22" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="objective1Icon">Icon</label>
                    <input class="form-control" type="number" id="objective1Icon" name="objective1Icon" value="0"
                        min="0" max="11" oninput="onAnyChange()">
                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-3">
                  <label for="objective2Joystick">Objective 2</label>
                  <input type="radio" name="joystick" id="objective2Joystick" onkeydown="onJoystickKeyPress(this)">
                </div>
                <div class="col-sm-3">
                    <label for="objective2X">X</label>
                    <input class="form-control" type="number" id="objective2X" name="objective2X" value="0"
                        min="0" max="30" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="objective2Y">Y</label>
                    <input class="form-control" type="number" id="objective2Y" name="objective2Y" value="0"
                        min="0" max="22" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="objective2Icon">Icon</label>
                    <input class="form-control" type="number" id="objective2Icon" name="objective2Icon" value="0"
                        min="0" max="11" oninput="onAnyChange()">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                  <label for="objective3Joystick">Objective 3</label>
                  <input type="radio" name="joystick" id="objective3Joystick" onkeydown="onJoystickKeyPress(this)">
                </div>
                <div class="col-sm-3">
                    <label for="objective3X">X</label><input class="form-control" type="number" id="objective3X" name="objective3X" value="0"
                        min="0" max="30" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="objective3Y">Y</label>
                    <input class="form-control" type="number" id="objective3Y" name="objective3Y" value="0"
                        min="0" max="22" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="objective3Icon">Icon</label>
                    <input class="form-control" type="number" id="objective3Icon" name="objective3Icon" value="0"
                        min="0" max="11" oninput="onAnyChange()">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-3">
                  <label for="objective4Joystick">Objective 4</label>
                  <input type="radio" name="joystick" id="objective4Joystick" onkeydown="onJoystickKeyPress(this)">
                </div>
                <div class="col-sm-3">
                    <label for="objective4X">X</label><input class="form-control" type="number" id="objective4X" name="objective4X" value="0"
                        min="0" max="30" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="objective4Y">Y</label>
                    <input class="form-control" type="number" id="objective4Y" name="objective4Y" value="0"
                        min="0" max="22" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="objective4Icon">Icon</label>
                    <input class="form-control" type="number" id="objective4Icon" name="objective4Icon" value="0"
                        min="0" max="11" oninput="onAnyChange()">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-3">
                  <label for="objective5Joystick">Objective 5</label>
                  <input type="radio" name="joystick" id="objective5Joystick" onkeydown="onJoystickKeyPress(this)">
                </div>
                <div class="col-sm-3">
                    <label for="objective5X">X</label><input class="form-control" type="number" id="objective5X" name="objective5X" value="0"
                        min="0" max="30" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="objective5Y">Y</label>
                    <input class="form-control" type="number" id="objective5Y" name="objective5Y" value="0"
                        min="0" max="22" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="objective5Icon">Icon</label>
                    <input class="form-control" type="number" id="objective5Icon" name="objective5Icon" value="0"
                        min="0" max="11" oninput="onAnyChange()">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-3">
                  <label for="objective6Joystick">Objective 6</label>
                  <input type="radio" name="joystick" id="objective6Joystick" onkeydown="onJoystickKeyPress(this)">
                </div>
                <div class="col-sm-3">
                    <label for="objective6X">X</label><input class="form-control" type="number" id="objective6X" name="objective6X" value="0"
                        min="0" max="30" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="objective6Y">Y</label>
                    <input class="form-control" type="number" id="objective6Y" name="objective6Y" value="0"
                        min="0" max="22" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="objective6Icon">Icon</label>
                    <input class="form-control" type="number" id="objective6Icon" name="objective6Icon" value="0"
                        min="0" max="11" oninput="onAnyChange()">
                </div>
            </div>

            <div class="form-group row">
                <label for="objective1RenderMode" class="col-sm-6 col-form-label">Objective 1 render mode</label>
                <div class="col-sm-3">
                  <select class="form-select" id="objective1RenderMode" name="objective1RenderMode" onchange="onAnyChange()">
                    <option value="edge">From Edges</option>
                    <option value="centre">From Centre</option>
                    <option value="short">Shortest Path</option>
                  </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="objective2RenderMode" class="col-sm-6 col-form-label">Objective 2 render mode</label>
                <div class="col-sm-3">
                  <select class="form-select" id="objective2RenderMode" name="objective2RenderMode" onchange="onAnyChange()">
                    <option value="edge">From Edges</option>
                    <option value="centre">From Centre</option>
                    <option value="short">Shortest Path</option>
                  </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="objective3RenderMode" class="col-sm-6 col-form-label">Objective 3 render mode</label>
                <div class="col-sm-3">
                  <select class="form-select" id="objective3RenderMode" name="objective3RenderMode" onchange="onAnyChange()">
                    <option value="edge">From Edges</option>
                    <option value="centre">From Centre</option>
                    <option value="short">Shortest Path</option>
                  </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="objective4RenderMode" class="col-sm-6 col-form-label">Objective 4 render mode</label>
                <div class="col-sm-3">
                  <select class="form-select" id="objective4RenderMode" name="objective4RenderMode" onchange="onAnyChange()">
                    <option value="edge">From Edges</option>
                    <option value="centre">From Centre</option>
                    <option value="short">Shortest Path</option>
                  </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="objective5RenderMode" class="col-sm-6 col-form-label">Objective 5 render mode</label>
                <div class="col-sm-3">
                  <select class="form-select" id="objective5RenderMode" name="objective5RenderMode" onchange="onAnyChange()">
                    <option value="edge">From Edges</option>
                    <option value="centre">From Centre</option>
                    <option value="short">Shortest Path</option>
                  </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="objective6RenderMode" class="col-sm-6 col-form-label">Objective 6 render mode</label>
                <div class="col-sm-3">
                  <select class="form-select" id="objective6RenderMode" name="objective6RenderMode" onchange="onAnyChange()">
                    <option value="edge">From Edges</option>
                    <option value="centre">From Centre</option>
                    <option value="short">Shortest Path</option>
                  </select>
                </div>
            </div>


            </div>
        </div>
