<div class="card-header" id="missionsHeadingOne">
  <h2 class="h5 mb-0">
    <button class="btn btn-link" data-toggle="collapse" data-target="#missionsCollapseOne" aria-expanded="false"
            aria-controls="missionsCollapseOne">
      Background
    </button>
  </h2>
</div>

<div class="collapse" id="missionsCollapseOne">
  <div class="card-body">

    <div class="row">
      <div class="col-6">
        Card background image
      </div>
      <div class="col-6">
        <select class="form-select" id="background-list" name="background-list" onchange="onAnyChange()">
          <optgroup label="Ghur">
            <option value="bg-10">Ghur</option>
          </optgroup>
          <optgroup label="Simple">
            <option value="bg-07">Plain</option>
            <option value="bg-14">Light</option>
            <option value="bg-15">Green</option>
            <option value="bg-16">Red</option>
          </optgroup>
          <optgroup label="Dark">
            <option value="bg-04">Dark 2 B</option>
            <option value="bg-17">Dark Arcane</option>
          </optgroup>
          <optgroup label="Themed">
            <option value="bg-08">Shyish</option>
            <option value="bg-13">Mordheim 1</option>
          </optgroup>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        Map background
      </div>
      <div class="col-6">
        <select class="form-select" id="map-list" name="map-list" onchange="onAnyChange()">
          <option value="map">Default</option>
          <option value="map-plain">Simple</option>
          <option value="map-plain-flat">Simpler</option>
          <option value="map-scales-1">Scales 1</option>
          <option value="map-scales-2">Scales 2</option>
          <option value="map-catacombs">Catacombs Blank</option>
          <option value="map-catacombs-1">Catacombs 1</option>
          <option value="map-catacombs-2">Catacombs 2</option>
          <option value="map-catacombs-3">Catacombs 3</option>
          <option value="map-catacombs-4">Catacombs 4</option>
          <option value="map-catacombs-5">Catacombs 5</option>
          <option value="map-ghyran">Spearhead - Ghyran</option>
          <option value="map-aqshy">Spearhead - Aqshy</option>
          <option value="map-bluegrid">Sci-fi Blue Grid</option>
          <option value="map-greengrid">Sci-fi Green Grid</option>
        </select>
      </div>
    </div>

    <div class="form-check">
      <input class="form-check-input" id="removeDeployment" onchange="onAnyChange()" type="checkbox">
      <label class="form-check-label" for="removeDeployment">Remove Deployment Map</label>
    </div>

    <div class="form-check">
      <input class="form-check-input" id="removeBorder" onchange="onAnyChange()" type="checkbox">
      <label class="form-check-label" for="removeBorder">Remove border to add bleed area for printing</label>
    </div>
  </div>
  <div class="card-header">
    <h2 class="h5 mb-0">Custom Background</h2>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="customBackgroundSelect">Load image</label>
      <input class="form-control-file" id="customBackgroundSelect" oninput="onCustomBackgroundUpload()" type="file">
    </div>

    <input type="hidden" id="customBackgroundUrl" name="customBackgroundUrl" value="">

    <div class="form-group">
      <label for="customBackgroundOffsetX">X offset (&#8596;)</label>
      <input class="form-control" id="customBackgroundOffsetX" oninput="onAnyChange()" type="number" value="0" />
    </div>

    <div class="form-group">
      <label for="customBackgroundOffsetY">Y offset (&#8597;)</label>
      <input class="form-control" id="customBackgroundOffsetY" oninput="onAnyChange()" type="number" value="0" />
    </div>

    <div class="form-group">
      <label for="customBackgroundScalePercent">Scale (%)</label>
      <input class="form-control" id="customBackgroundScalePercent" min="0" max="300" oninput="onAnyChange()"
             type="number" value="100" />
    </div>

  </div>
</div>
