

    <!-- objective Section -->
    <div class="card-header" id="objectiveHeading">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#objectiveCollapse"
                aria-expanded="false" aria-controls="objectiveCollapse">
                Objectives / Treasure
            </button>
        </h2>
    </div>
    <div class="collapse" id="objectiveCollapse">
        <div class="card-body">
            <div class="form-group row">
                <label for="objective1" class="col-sm-3 col-form-label">Objective 1</label>
                <div class="col-sm-3">
                    <label for="objective1X">X</label>
                    <input class="form-control" type="number" id="objective1X" name="objective1X" value="0"
                        min="0" max="30" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="objective1Y">Y</label>
                    <input class="form-control" type="number" id="objective1Y" name="objective1Y" value="0"
                        min="0" max="22" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="objective1Icon">Icon</label>
                    <input class="form-control" type="number" id="objective1Icon" name="objective1Icon" value="0"
                        min="0" max="9" oninput="onAnyChange()">
                </div>
            </div>
        
        
            <div class="form-group row">
                <label for="objective2X" class="col-sm-3 col-form-label">Objective 2</label>
                <div class="col-sm-3">
                    <label for="objective2X">X</label>
                    <input class="form-control" type="number" id="objective2X" name="objective2X" value="0"
                        min="0" max="30" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="objectiveHDaggerY">Y</label>
                    <input class="form-control" type="number" id="objective2Y" name="objective2Y" value="0"
                        min="0" max="22" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="objective2Icon">Icon</label>
                    <input class="form-control" type="number" id="objective2Icon" name="objective2Icon" value="0"
                        min="0" max="9" oninput="onAnyChange()">
                </div>
            </div>
            <div class="form-group row">
                <label for="objective3X" class="col-sm-3 col-form-label">Objective 3</label>
                <div class="col-sm-3">
                    <label for="objective3X">X</label><input class="form-control" type="number" id="objective3X" name="objective3X" value="0"
                        min="0" max="30" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="objective3Y">Y</label>
                    <input class="form-control" type="number" id="objective3Y" name="objective3Y" value="0"
                        min="0" max="22" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="objective3Icon">Icon</label>
                    <input class="form-control" type="number" id="objective3Icon" name="objective3Icon" value="0"
                        min="0" max="9" oninput="onAnyChange()">
                </div>
            </div>

            <div class="form-group row">
                <label for="objective4X" class="col-sm-3 col-form-label">Objective 4</label>
                <div class="col-sm-3">
                    <label for="objective4X">X</label><input class="form-control" type="number" id="objective4X" name="objective4X" value="0"
                        min="0" max="30" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="objective4Y">Y</label>
                    <input class="form-control" type="number" id="objective4Y" name="objective4Y" value="0"
                        min="0" max="22" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="objective4Icon">Icon</label>
                    <input class="form-control" type="number" id="objective4Icon" name="objective4Icon" value="0"
                        min="0" max="9" oninput="onAnyChange()">
                </div>
            </div>

            <div class="form-group row">
                <label for="objective5X" class="col-sm-3 col-form-label">Objective 5</label>
                <div class="col-sm-3">
                    <label for="objective5X">X</label><input class="form-control" type="number" id="objective5X" name="objective5X" value="0"
                        min="0" max="30" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="objective5Y">Y</label>
                    <input class="form-control" type="number" id="objective5Y" name="objective5Y" value="0"
                        min="0" max="22" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="objective5Icon">Icon</label>
                    <input class="form-control" type="number" id="objective5Icon" name="objective5Icon" value="0"
                        min="0" max="9" oninput="onAnyChange()">
                </div>
            </div>

            <div class="form-group row">
                <label for="objective6X" class="col-sm-3 col-form-label">Objective 6</label>
                <div class="col-sm-3">
                    <label for="objective6X">X</label><input class="form-control" type="number" id="objective6X" name="objective6X" value="0"
                        min="0" max="30" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="objective6Y">Y</label>
                    <input class="form-control" type="number" id="objective6Y" name="objective6Y" value="0"
                        min="0" max="22" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="objective6Icon">Icon</label>
                    <input class="form-control" type="number" id="objective6Icon" name="objective6Icon" value="0"
                        min="0" max="9" oninput="onAnyChange()">
                </div>
            </div>


            </div>        
        </div>

