<div class="card">
    <!-- Existing Characteristics Section -->
    <div class="card-header" id="missionsHeadingSix">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#missionsCollapseSix"
                aria-expanded="false" aria-controls="missionsCollapseSix">
                Text
            </button>
        </h2>
    </div>
    
    <div class="collapse" id="missionsCollapseSix">
        <div class="card-body">
            <div class="form-group">
                <label for="textValue">Text</label>
                <textarea class="form-control" id="textValue" name="textValue" rows="4"
                    oninput="onAnyChange()"></textarea>
            </div>
            Text on the same line between ** and ** will be rendered as bold.
        </div>
    </div>
</div>
