

    <!-- Red Section -->
    <div class="card-header" id="redHeading">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#redCollapse"
                aria-expanded="false" aria-controls="redCollapse">
                Red Deployment
            </button>
        </h2>
    </div>
    <div class="collapse" id="redCollapse">
        <div class="card-body">
            <div class="form-group row">
                <label for="removeRedDeployment" class="col-sm-6 col-form-label">Remove Red Deployment</label>
                <div class="col-sm-3">
                    <input class="form-check-input" type="checkbox" id="removeRedDeployment" name="removeRedDeployment" onchange="onAnyChange()">
                </div>
            </div>
            <div class="form-group row">
                <button id="randomDeployment" class="btn btn-link" onclick="randomDeployment()">Randomise Deployment</button>
            </div>

            <div class="form-group row">
                <div class="col-sm-3">
                  <label for="redHammerJoystick">Hammer</label>
                  <input type="radio" name="joystick" id="redHammerJoystick" onkeydown="onJoystickKeyPress(this)">
                </div>
                <div class="col-sm-3">
                    <label for="redHammerX">X</label>
                    <input class="form-control" type="number" id="redHammerX" name="redHammerX" value="24"
                        min="0" max="30" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="redHammerY">Y</label>
                    <input class="form-control" type="number" id="redHammerY" name="redHammerY" value="17"
                        min="0" max="22" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="redHammerTurn">Turn</label>
                    <input class="form-control" type="number" id="redHammerTurn" name="redHammerTurn" value="1"
                        min="1" max="4" oninput="onAnyChange()">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                  <label for="redDaggerJoystick">Dagger</label>
                  <input type="radio" name="joystick" id="redDaggerJoystick" onkeydown="onJoystickKeyPress(this)">
                </div>
                <div class="col-sm-3">
                    <label for="redDaggerX">X</label>
                    <input class="form-control" type="number" id="redDaggerX" name="redDaggerX" value="6"
                        min="0" max="30" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="redDaggerY">Y</label>
                    <input class="form-control" type="number" id="redDaggerY" name="redDaggerY" value="17"
                        min="0" max="22" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="redDaggerTurn">Turn</label>
                    <input class="form-control" type="number" id="redDaggerTurn" name="redDaggerTurn" value="1"
                        min="1" max="4" oninput="onAnyChange()">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                  <label for="redShieldJoystick">Shield</label>
                  <input type="radio" name="joystick" id="redShieldJoystick" onkeydown="onJoystickKeyPress(this)">
                </div>
                <div class="col-sm-3">
                    <label for="redShieldX">X</label><input class="form-control" type="number" id="redShieldX" name="redShieldX" value="15"
                        min="0" max="30" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="redShieldY">Y</label>
                    <input class="form-control" type="number" id="redShieldY" name="redShieldY" value="15"
                        min="0" max="22" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="redShieldTurn">Turn</label>
                    <input class="form-control" type="number" id="redShieldTurn" name="redShieldTurn" value="1"
                        min="1" max="4" oninput="onAnyChange()">
                </div>
            </div>

            <div class="form-group row">
                <label for="redHammerRenderMode" class="col-sm-6 col-form-label">Hammer render mode</label>
                <div class="col-sm-3">
                  <select class="form-select" id="redHammerRenderMode" name="redHammerRenderMode" data-clear-on-load="false" onchange="onAnyChange()">
                    <option value="edge">From Edges</option>
                    <option value="centre">From Centre</option>
                    <option value="short">Shortest Path</option>
                    <option value="line">Line Deployment</option>
                  </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="redDaggerRenderMode" class="col-sm-6 col-form-label">Dagger render mode</label>
                <div class="col-sm-3">
                  <select class="form-select" id="redDaggerRenderMode" name="redDaggerRenderMode" data-clear-on-load="false" onchange="onAnyChange()">
                    <option value="edge">From Edges</option>
                    <option value="centre">From Centre</option>
                    <option value="short">Shortest Path</option>
                    <option value="line">Line Deployment</option>
                  </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="redShieldRenderMode" class="col-sm-6 col-form-label">Shield render mode</label>
                <div class="col-sm-3">
                  <select class="form-select" id="redShieldRenderMode" name="redShieldRenderMode" data-clear-on-load="false" onchange="onAnyChange()">
                    <option value="edge">From Edges</option>
                    <option value="centre">From Centre</option>
                    <option value="short">Shortest Path</option>
                    <option value="line">Line Deployment</option>
                  </select>
                </div>
            </div>
        </div>
    </div>


    <!-- Blue Section -->
    <div class="card-header" id="blueHeading">
        <h2 class="h5 mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#blueCollapse"
                aria-expanded="false" aria-controls="blueCollapse">
                Blue Deployment
            </button>
        </h2>
    </div>
    <div class="collapse" id="blueCollapse">
        <div class="card-body">

            <div class="form-group row">
                <label for="removeBlueDeployment" class="col-sm-6 col-form-label">Remove Blue Deployment</label>
                <div class="col-sm-3">
                    <input class="form-check-input" type="checkbox" id="removeBlueDeployment" name="removeBlueDeployment" onchange="onAnyChange()">
                </div>
            </div>

            <div class="form-group row">
                <button id="copyFromRed" class="btn btn-link" onclick="onCopyFromRed()">Copy from Red Deployment</button>
            </div>

            <div class="form-group row">
                <div class="col-sm-3">
                  <label for="blueHammerJoystick">Hammer</label>
                  <input type="radio" name="joystick" id="blueHammerJoystick" onkeydown="onJoystickKeyPress(this)">
                </div>
                <div class="col-sm-3">
                    <label for="blueHammerX">X</label>
                    <input class="form-control" type="number" id="blueHammerX" name="blueHammerX" value="6"
                        min="0" max="30" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="blueDaggerY">Y</label>
                    <input class="form-control" type="number" id="blueHammerY" name="blueHammerY" value="5"
                        min="0" max="22" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="blueHammerTurn">Turn</label>
                    <input class="form-control" type="number" id="blueHammerTurn" name="blueHammerTurn" value="1"
                        min="1" max="4" oninput="onAnyChange()">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-3">
                  <label for="blueDaggerJoystick">Dagger</label>
                  <input type="radio" name="joystick" id="blueDaggerJoystick" onkeydown="onJoystickKeyPress(this)">
                </div>
                <div class="col-sm-3">
                    <label for="blueDaggerX">X</label>
                    <input class="form-control" type="number" id="blueDaggerX" name="blueDaggerX" value="6"
                        min="0" max="30" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="blueDaggerY">Y</label>
                    <input class="form-control" type="number" id="blueDaggerY" name="blueDaggerY" value="5"
                        min="0" max="22" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="blueDaggerTurn">Turn</label>
                    <input class="form-control" type="number" id="blueDaggerTurn" name="blueDaggerTurn" value="1"
                        min="1" max="4" oninput="onAnyChange()">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                  <label for="blueShieldJoystick">Shield</label>
                  <input type="radio" name="joystick" id="blueShieldJoystick" onkeydown="onJoystickKeyPress(this)">
                </div>
                <div class="col-sm-3">
                    <label for="blueShieldX">X</label><input class="form-control" type="number" id="blueShieldX" name="blueShieldX" value="15"
                        min="0" max="30" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="blueShieldY">Y</label>
                    <input class="form-control" type="number" id="blueShieldY" name="blueShieldY" value="7"
                        min="0" max="22" oninput="onAnyChange()">
                </div>
                <div class="col-sm-3">
                    <label for="blueShieldTurn">Turn</label>
                    <input class="form-control" type="number" id="blueShieldTurn" name="blueShieldTurn" value="0"
                        min="1" max="4" oninput="onAnyChange()">
                </div>
            </div>

            <div class="form-group row">
                <label for="blueHammerRenderMode" class="col-sm-6 col-form-label">Hammer render mode</label>
                <div class="col-sm-3">
                  <select class="form-select" id="blueHammerRenderMode" name="blueHammerRenderMode" data-clear-on-load="false" onchange="onAnyChange()">
                    <option value="edge">From Edges</option>
                    <option value="centre">From Centre</option>
                    <option value="short">Shortest Path</option>
                    <option value="line">Line Deployment</option>
                  </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="blueDaggerRenderMode" class="col-sm-6 col-form-label">Dagger render mode</label>
                <div class="col-sm-3">
                  <select class="form-select" id="blueDaggerRenderMode" name="blueDaggerRenderMode" data-clear-on-load="false" onchange="onAnyChange()">
                    <option value="edge">From Edges</option>
                    <option value="centre">From Centre</option>
                    <option value="short">Shortest Path</option>
                    <option value="line">Line Deployment</option>
                  </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="blueShieldRenderMode" class="col-sm-6 col-form-label">Shield render mode</label>
                <div class="col-sm-3">
                  <select class="form-select" id="blueShieldRenderMode" name="blueShieldRenderMode" data-clear-on-load="false" onchange="onAnyChange()">
                    <option value="edge">From Edges</option>
                    <option value="centre">From Centre</option>
                    <option value="short">Shortest Path</option>
                    <option value="line">Line Deployment</option>
                  </select>
                </div>
            </div>

        </div>
    </div>
    </div>
</div>
